@model ECOMMERCE_Project_ASPNET.Models.Probleme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Probleme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageProb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageProb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusProb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusProb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProb }) |
    @Html.ActionLink("Back to List", "Index")
</p>
