<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

@model IEnumerable<ECOMMERCE_Project_ASPNET.Models.AspNetUser>
@using ECOMMERCE_Project_ASPNET.Models;
@using GridMvc.Html

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/assets/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Paper Dashboard 2 by Creative Tim
    </title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">

    
    <div class="wrapper ">
        
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="~/Content/assets/img/logo-small.png">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a href="https://www.creative-tim.com" class="simple-text logo-normal">
                    Creative Tim
                    <!-- <div class="logo-image-big">
                  <img src="../assets/img/logo-big.png">
                </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="#showbar">
                            <i class="nc-icon nc-bank"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="#users">
                            <i class="nc-icon nc-diamond"></i>
                            <p>Sellers</p>
                        </a>
                    </li>
                    <li>
                        <a href="#produit">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>Products</p>
                        </a>
                    </li>
                    <li>
                        <a href="#history">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>History</p>
                        </a>
                    </li>
                    <li>
                        <a href="#blacklist">
                            <i class="nc-icon nc-single-02"></i>
                            <p>BlackList</p>
                        </a>
                    </li>
                    <li>
                        <a href="#favorite">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>Favorite</p>
                        </a>
                    </li>
                    <li>
                        <a href="#problem">
                            <i class="nc-icon nc-caps-small"></i>
                            <p>Probleme</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <!-- End Navbar -->
            
            <div class="content">

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6" id="showbar">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="nc-icon nc-globe text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Sellers</p>
                                            <p class="card-title">@ViewBag.CountProp<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-refresh"></i>
                                    Update Now
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="nc-icon nc-money-coins text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Products</p>
                                            <p class="card-title">@ViewBag.CountProd<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar-o"></i>
                                    Last day
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="nc-icon nc-vector text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">BlackLists</p>
                                            <p class="card-title">@ViewBag.BlackListCount<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i>
                                    In the last hour
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Favorites</p>
                                            <p class="card-title">@ViewBag.FavoriteCount<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-refresh"></i>
                                    Update now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="text-left" style="margin-left:95px;">
                    <button type="button" class="btn btn-outline-primary"> @Html.ActionLink("Add New Admin", "RegisterA", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </button>
                </div>

                <div class="text-right" style="margin-left:680px;margin-bottom:35px;">
                    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Add new Category","Create","Categories")</button>
                </div>
                    </div>
                @{
                    var Produits = (List<Produit>)ViewBag.Products;
                    var Histories = (List<History>)ViewBag.Histories;
                    var BlackLists = (List<AspNetUser>)ViewBag.BlackLists;
                    var Users = (List<AspNetUser>)ViewBag.Users;
                    var Favorites = (List<AspNetUser>)ViewBag.Favorites;
                    var Problemes = (List<Probleme>)ViewBag.Problems;
                    var Categories = (List<Categorie>)ViewBag.Categories;

                }
                <div class="row" id="users">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">Users Informations</h5>


                            @Html.Grid(Users).Columns(colums =>
                       {
                       colums.Add(c => c.Email).Titled("Email Adresse").Filterable(true);
                       colums.Add(c => c.Adresse).Titled("Adresse").Filterable(true);

                       colums.Add()
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(30)
                       .RenderValueAs(c => Html.ActionLink("BlackList", "BlackList", "Dashbord", new { id = c.Id }, null));

                       colums.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(30)
                  .RenderValueAs(c => Html.ActionLink("Favorite", "Favorite", "Dashbord", new { id = c.Id }, null));

                       }).WithPaging(6).Sortable(true)


                        </div>
                    </div>
                </div>


                <div class="row" id="produit">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">Products</h5>


                            @Html.Grid(Produits).Columns(colums =>
                       {
                           colums.Add(c => c.LibelleProd).Titled("Name").Filterable(true);
                           colums.Add(c => c.PrixProd).Titled("Price").Filterable(true);
                           colums.Add(c => c.Categorie.NomCat).Titled("Category").Filterable(true);
                           colums.Add(c => c.AspNetUser.Email).Titled("Seller Email").Filterable(true);


                           colums.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(30)
                  .RenderValueAs(c => Html.ActionLink("Delete", "Delete", "Dashbord", new { id = c.IdProd }, null));

                       }).WithPaging(4).Sortable(true)


                        </div>
                    </div>
                </div>

                <div class="row" id="history">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">History</h5>


                            @Html.Grid(Histories).Columns(colums =>
                       {
                           colums.Add(c => c.UserName).Titled("Seller Email").Filterable(true);
                           colums.Add(c => c.ProductName).Titled("Product Name").Filterable(true);
                           colums.Add(c => c.Action).Titled("Action").Filterable(true);


                       }).WithPaging(4).Sortable(true)


                        </div>
                    </div>
                </div>

                <div class="row" id="blacklist">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">Black-Listed Sellers</h5>


                            @Html.Grid(BlackLists).Columns(colums =>
                       {

                           colums.Add(c => c.Email).Titled("Email Address").Filterable(true);
                           colums.Add(c => c.Adresse).Titled("Address").Filterable(true);

                           colums.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(30)
                      .RenderValueAs(c => Html.ActionLink("UnBlackList", "UnBlackList", "Dashbord", new { id = c.Id }, null));


                       }).WithPaging(4).Sortable(true)


                        </div>
                    </div>
                </div>

                <div class="row" id="favorite">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">Favorites Sellers</h5>


                            @Html.Grid(Favorites).Columns(colums =>
                       {

                           colums.Add(c => c.Email).Titled("Email Address").Filterable(true);
                           colums.Add(c => c.Adresse).Titled("Addess").Filterable(true);

                           colums.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(30)
                      .RenderValueAs(c => Html.ActionLink("UnFavorite", "UnFavorite", "Dashbord", new { id = c.Id }, null));


                       }).WithPaging(4).Sortable(true)


                        </div>
                    </div>
                </div>

                <div class="row" id="problem">
                    <div class="col-md-12">
                        <div class="card-header ">
                            <div class="card ">
                            </div>
                            <h5 class="card-title">Problems</h5>


                            @Html.Grid(Problemes).Columns(colums =>
                       {
                           colums.Add(c => c.MessageProb).Titled("Message").Filterable(true);
                           colums.Add(c => c.AspNetUser.UserName).Titled("Seller Email").Filterable(true);

                           colums.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(c => Html.ActionLink("Solved", "ProbSolved", "Dashbord", new { id = c.IdProb }, null));

                       }).WithPaging(4).Sortable(true)


                        </div>
                    </div>
                </div>




                


























            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">

                    <div class="credits ml-auto">
                        <span class="copyright">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                        </span>
                    </div>
                </div>
        </div>
        </footer>
    </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
</body>

</html>
