@model IEnumerable<ECOMMERCE_Project_ASPNET.Models.Produit>

@{
    ViewBag.Title = "Index2";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Eflyer</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Content/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9f652f1c46.js" crossorigin="anonymous"></script>
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- banner bg main start -->
    <div class="banner_bg_main">
        <!-- header top section start -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                @*<li><a href="#">Best Sellers</a></li>
                                    <li><a href="#">Gift Ideas</a></li>
                                    <li><a href="#">New Releases</a></li>
                                    <li><a href="#">Today's Deals</a></li>
                                    <li><a href="#">Customer Service</a></li>*@
                                <li style="font-size:25px;letter-spacing:4px;">WELCOME TO OUR WEBSITE</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top section start -->
        <!-- logo section start -->
        
        <!-- logo section end -->
        <!-- header section start -->
        <div class="header_section">
            <div class="container" style="background: rgb(48,48,46,0.2);padding:10px;border-radius:15px;padding-right:50px;margin-top:35px;">
                <div class="containt_main">
                    @*<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index.html">Home</a>
            <a href="fashion.html">Fashion</a>
            <a href="electronic.html">Electronic</a>
            <a href="jewellery.html">Jewellery</a>
        </div>
        <span class="toggle_icon" onclick="openNav()"><img src="~/Content/images/toggle-icon.png"></span>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>*@
                    <div class="main">
                        <!-- Another variation with a button -->


                        <div class="input-group">
                            <a style="margin-right:25px" href="../Home/Index"> <img src="~/Content/images/HomeLogoIcon.png" style="height:35px;width:35px;"></a>
                            
                        </div>
                    </div>
                    
                    <div class="header_box" >
                        @*<div class="lang_box ">
                            <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Content/images/flag-uk.png" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu ">
                                <a href="#" class="dropdown-item">
                                    <img src="~/Content/images/flag-france.png" class="mr-2" alt="flag">
                                    French
                                </a>
                            </div>
                        </div>*@
                        <div class="login_menu">
                            <ul>
                                @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) <span><i class="fas fa-user-plus"></i></span></li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) <span><i class="fas fa-sign-in-alt"></i></span></li>*@
                                @Html.Partial("_LoginPartial")

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div id="my_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_taital">Start Selling <br>From Today</h1>
                                    
                                </div>
                            </div>
                        
                       
                            <div class="row">
                                <div class="col-sm-12">
                                    
                                </div>
                            </div>
                       
                        
                            <div class="row">
                                <div class="col-sm-12">
                                    
                                </div>
                            </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- banner bg main end -->
    <!-- fashion section start -->
    <div class="fashion_section">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h1 class="fashion_taital">Your Products</h1>
                        <div class="fashion_section_2" >
                            <div>
                                <p style="background: #eeb951; color: white; border-radius: 10px; width: fit-content; padding: 10px; font-size: large; margin-bottom: 30px; display: inline-block;margin-right:720px;">
                                    @Html.ActionLink("Create New", "Create")
                                </p>
                                <p style="background: #eeb951; color: white; border-radius: 10px; width: fit-content; padding: 10px; font-size: large; margin-bottom: 30px; display: inline-block;">
                                    @Html.ActionLink("Declare a Problem", "Create", "Problemes")
                                </p>
                            </div>
                          

                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-sm-4">
                                    <div class="box_main">
                                        <h4 class="shirt_text">@Html.DisplayFor(modelItem => item.LibelleProd)</h4>
                                        <p class="price_text">Price  <span style="color: #262626;">$ @Html.DisplayFor(modelItem => item.PrixProd)</span></p>
                                        <div class="tshirt_img"><img src="@Url.Content(item.ImageProd)"></div>
                                        <div class="btn_main">
                                            <div class="seemore_bt">@Html.ActionLink("Edit", "Edit", new { id = item.IdProd })</div>
                                            <div class="seemore_bt">  @Html.ActionLink("Details", "Details", new { id = item.IdProd }) </div>
                                            <div class="seemore_bt">@Html.ActionLink("Delete", "Delete", new { id = item.IdProd })</div>
                                        </div>
                                    </div>
                                </div>}



                        </div>
    </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            
            <p class="copyright_text">© 2022 All Rights Reserved. Design by <a href="#">G.INFO2</a></p>
        </div>
        
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script>function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }</script>
</body>
</html>


